.paginationContainer {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: var(--color-dark-900);
  max-width: 535px;
}

.paginationContainer p {
  color: var(--color-light-100);
  font-size: 14px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
}

.paginationEllipsis {
  position: relative;
  top: 2px;
  padding-right: 2px;
  height: 24px;
  width: 12px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationButton {
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  background-color: var(--color-dark-900);
  border: none;
  color: var(--color-light-100);

  align-items: center;

  &.active {
    background-color: white;
    color: var(--color-dark-900);
    border-color: var(--color-light-100);
    border-radius: 2px;
    font-weight: bold;
    transform: scale(1.05);
  }
}

.paginationButton:hover {
  background-color: var(--color-dark-500);
  border-radius: 2px;
}

.paginationButton:focus {
  background-color: var(--color-dark-900);
  color: var(--color-light-100);
  border: 2px solid var(--color-primary-700);
  border-radius: 2px;
}

.arrow {
  width: 16px;
  height: 16px;
}
.arrowButton {
  min-width: 24px;
  min-height: 24px;
  background: transparent;
  border: none;
  padding: 0;
}
.arrowButton:hover {
  background-color: var(--color-dark-500);
  border-radius: 2px;
}
