.textarea-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.label {
  line-height: 24px;
  font-size: 14px;
  color: var(--color-light-900);
}

.textareaWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.textareaInput {
  width: 100%;
  height: 84px;
  padding: 6px 12px;
  border: 2px solid var(--color-dark-100);
  background-color: var(--color-dark-500);
  border-radius: 2px;
  font-size: 16px;
  color: var(--color-light-900);
  resize: none;

  &::placeholder {
    color: var(--color-dark-100);
    opacity: 0.7;
  }

  &:hover {
    border-color: var(--color-light-900);
  }

  &:focus {
    outline: none;
    border-color: var(--color-accent-700);
    color: var(--color-light-100);
  }

  &:active {
    border-color: var(--color-light-100);
    color: var(--color-light-100);
  }

  &.textareaError {
    border-color: var(--color-danger-500);

    &:focus {
      border-color: var(--color-danger-500);
      box-shadow: 0 0 0 3px rgba(var(--color-danger-500-rgb), 0.1);
    }

    &:hover {
      border-color: var(--color-danger-500);
    }
  }

  &.textareaDisabled {
    color: var(--color-dark-100);
    cursor: not-allowed;
  }
}

.containerCounterError {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;

  .errorMessage {
    color: var(--color-danger-500);
  }

  .counter {
    margin-left: auto;
    color: var(--color-light-900);
  }
}
