.root {
  position: relative;
  width: 100%;
  height: 100%;
}

/* viewport всегда занимает всё */
.viewport {
  width: 100%;
  height: 100%;
  overflow: auto; /* обязательно auto или scroll для видимости thumb */
}

/* ===== Scrollbar base ===== */
.scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  box-sizing: border-box;
  border-radius: 3px;
}

/* Horizontal scrollbar */
.scrollbar--horizontal {
  flex-direction: row;
  width: 185px;
  height: 14px;
  padding: 5px;
  align-items: center;
}

/* Vertical scrollbar */
.scrollbar--vertical {
  flex-direction: column;
  width: 14px;
  height: 196px;
  padding: 5px;
  align-items: center;
}

/* Thumb */
.thumb {
  border-radius: 3px;
  transition: background 0.2s;
}

/* Sizes */
.scrollbar--horizontal .thumb {
  width: 45px;
  height: 100%;
}

.scrollbar--vertical .thumb {
  width: 100%;
  height: 45px;
}

/* States */
.scrollbar--default .thumb {
  background: #333333;
}

.scrollbar--hover .thumb {
  background: #8d9094;
}
