.root {
  cursor: pointer;

  &[data-disabled] {
    cursor: default;
    opacity: 0.5;

    .icon::before {
      border-color: var(--color-light-900);
    }

    .icon::after {
      background-color: var(--color-light-900);
    }

    .label {
      color: var(--color-light-900);

      > label {
        cursor: default;
      }
    }
  }
}

.option {
  all: unset;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;

  display: flex;
  gap: 2px;
  align-items: center;
  color: var(--color-light-100);

  > label {
    cursor: pointer;

    [data-disabled] & {
      cursor: default;
    }
  }
}

.icon {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 36px;
  height: 36px;

  border-radius: 50%;

  transition: all 0.3s ease-in-out;

  &::before {
    content: '';

    display: block;

    width: 18px;
    height: 18px;

    border: 2px solid var(--color-light-100);
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    transition: 100ms background-color;

    [data-state='checked'] & {
      width: 8px;
      height: 8px;
      background-color: var(--color-light-100);
    }
  }

  .option:focus-visible & {
    background-color: var(--color-dark-700);
  }

  .option:hover & {
    background-color: var(--color-dark-100);
  }

  .option:active & {
    background-color: var(--color-primary-900);
  }

  .root[data-disabled] & {
    background-color: var(--color-dark-900);
    color: var(--color-dark-500);
  }
}
