//можно удалить
:root {
  --font-family-primary: 'Roboto', sans-serif;

  //line height
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  //font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-xl: 1.125rem;
  --font-size-xxl: 1.625rem;

  //font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;

}

// sass переменные

$font-family-primary:'Roboto', sans-serif ;
// font sizes
$font-size-xxl: 26rem;
$font-size-xl: 20rem;
$font-size-l: 18rem;
$font-size-m: 16rem;
$font-size-s: 14rem;
$font-size-xs: 12rem;

// font weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

// line heights
$line-height-xxl: 1.8;
$line-height-xl: 1.7;
$line-height-l: 1.5;
$line-height-m: 1.4;
$line-height-s: 1.3;