.root {
  width: 360px;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
}

.title {
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0px;
  color: var(--color-light-100);
  margin: 0;
}

.flagContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flag {
  width: 24px;
  height: 24px;
}

.arrow {
  width: 24px;
  height: 24px;
  color: var(--color-light-100);
}

.dots {
  display: flex;
  gap: 4px;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-light-100);
}