.Overlay {
  background-color: var(--color-dark-700);
  opacity: 0.5;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }
}

.divider {
  border: 1px solid var(--color-dark-100);
}

.sm {
  width: 378px;
}

.md {
  width: 438px;
}

.lg {
  width: 764px;
}
.xl {
  width: 972px;
}

.Title {
  margin: 12px 12px 11px 24px;
  color: var(--color-light-100);
  font-size: 20px;
  font-weight: 700;
  //font-family: Inter;
  line-height: 36px;
}

.IconButton {
  all: unset;
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-100);
  position: absolute;
  top: 18px;
  right: 24px;
  background-color: var(--color-dark-300);

  &:focus {
    box-shadow: 0 0 0 2px var(--color-primary-300);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
