.container {
  background: var(--background);
  display: flex;
  width: 100%;
  min-width: 700px;
  height: 60px;
  padding: 0 10px 0 60px;
  align-items: center;
  border-bottom: 1px solid var(--border);
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.authorizedNotifications {
  display: flex;
  align-items: center;
  column-gap: 45px;
}

.unauthorizedNotifications {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
  margin-left: auto;
}

.buttonContainer {
  display: flex;
  gap: 24px;

  button {
    font-size: var(--font-size-14);
  }
}

/* Notification Bell Styles */
.bell {
  position: relative;
  cursor: pointer;
}

.bellIcon {
  width: 24px;
  height: 24px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

