.alert {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
  width: 387px;
  height: 48px;
  border-radius: 2px;
}

.alertText {

  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  flex: 1;
  order: 0;
}

.alertTextBold {
  font-weight: 700;
}

.closeBtn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  
  & svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.error {
  background: #660A1D;
  border: 1px solid #CC1439;
  
  .alertText strong {
    font-weight: 700;
  }
}


.success {
  background: #0a6638;
  border: 1px solid #14cc70;
  color: #fff;
  
  .alertText {
    font-weight: 400;
  }
}
